@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom date input styling: only show calendar icon */
input.only-icon-date-input::-webkit-datetime-edit {
  display: none;
}

input.only-icon-date-input::-webkit-calendar-picker-indicator {
  opacity: 1;
  cursor: pointer;
}

input.only-icon-date-input::-ms-clear {
  display: none;
}

input.only-icon-date-input {
  padding: 0;
  text-align: center;
}